.img__banner {
    position: relative;
    height: 600px;
    overflow: hidden;
    margin-bottom: 50px;

    img {
        width: 100%;
    }
    #img1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    #img2 {
        width: 100%;
        position: relative;
        top:-330px
    }
}

.banner{
    h1{
        text-align: center;
        margin-bottom: 30px;
        margin-bottom: 40px;
    }
}