//Hiển
header {

    .navbar-brand {
        margin-left: 40px;
        font-size: 40px;
        font-weight: bold;
    }

    .navbar {
        background-color: transparent;
        margin-right: 100px;
        .nav-item{
            margin: 0 12px;
            a{
                font-size: 16px;
            }
        }
    }

    #navbarNav {
        flex-direction: row-reverse;
    }

    margin-bottom: 30px;
    .nav-item{
        .badge{
            position: absolute;
            left: 55px;
            top: 4px;
            font-size: 12px;
        }
    }
}