.offcanvas {
    width: 550px !important;

    .offcanvas-header {
        .offcanvas-title {
            margin-left: 200px;
        }
    }

    input {
        margin-left: 15px;
        width: 50px;
        padding-left: 10px;
        border: 1px solid transparent;
    }

    .offcanvas__content {
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .button__line {
            display: flex;
            justify-content: space-evenly;

            .btn__focus {
                transition: 0.5s;
                &:hover{
                    transform: scale(1.09);
                }
            }
        }
    }

}